- first_game  = Game.first_game_in_tournament

%p.hidden-phone.hidden-tablet
  = I18n.t('tournament_starts_in')
#counter_desktop.hidden-phone.hidden-tablet{'data-countdowntimestamp'=> first_game.start_at.to_i}
#counter_desc_desktop.hidden-phone.hidden-tablet=I18n.t('counter_desc_desktop')
