%section.hero
  .row.intro
    .small-centered.medium-uncentered.medium-6.large-7.columns
      %h1= "Hallo und Sport frei zur #{TOURNAMENT_NAME}!"
      %p.hidden-for-small-only= "Wer wird wohl dieses Jahr den umwerfenden Tippspiel-Wanderpokal verbunden mit unbeschreiblichem Ruhm und uneingeschränktem Prahlrecht mit nach Hause nehmen?"
      = render :partial => 'login_form'
    .small-centered.medium-uncentered.medium-6.large-5.columns
      .pokal-img
