-# Es wird ein flash Error angezeigt.
-# plus der extra Text in @error_msg kann entsprechend definiert werden

- if @error_msg.present?
  .error-text.callout.alert
    %p= @error_msg[:text].html_safe
