.row
  .span5
    = render :partial => 'welcome_infos', :locals => {:today_games => @today_games}
  .span4
    .alert.alert-info
      = render :partial => 'login_form_or_user_infos'

.row
  .span9
    - if before_tournament?
      = render :partial => 'countdown'

    %h3=I18n.t('games_of', :tournament_name => TOURNAMENT_NAME)

    = render :partial => '/games/game_list', :locals => {:games_round_hash => @games_round_hash}
