- if user_signed_in?
  - content_for :hero_image do
    = render partial: 'hero_image_for_logged_in_user'
- else
  - content_for :hero_image do
    = render partial: 'hero_image_with_login_form'

.row
  .small-12.columns
    - unless @presenter.tournament_started?
      = render partial: 'countdown'

    = render partial: 'widgets/games_index', locals: {presenter: @presenter.games_presenter}