- if user_signed_in?
  - content_for :hero_image do
    = render partial: 'hero_image_for_logged_in_user'
- else
  - content_for :hero_image do
    = render partial: 'hero_image_with_login_form'

.row
  .small-12.columns
    - unless @presenter.tournament_started?
      = render partial: 'countdown'

    %h3=I18n.t('games_of', tournament_name: TOURNAMENT_NAME)
    = render_cell(:game_list, :show, last_updated_at: [GameQueries.last_updated_at, TeamQueries.last_updated_at].max )