- content_for :hero_image do
  %p 'Test sm hier soll ein Hero image hin http://zurb.com/building-blocks/hero-image-with-text-and-image'
  %i.fi-heart.style1
  %i.fi-heart.style2

.row
  .large-5.large-push-7.columns
    .alert.alert-info
      = render :partial => 'login_form_or_user_infos', :locals => {:presenter => @presenter}
  .large-7.large-pull-5.columns
    = render :partial => 'welcome_infos', :locals => {:today_games => @presenter.today_games}

.row
  .large-12.columns
    - if before_tournament?
      = render :partial => 'countdown'

    %h3=I18n.t('games_of', :tournament_name => TOURNAMENT_NAME)

    = render_cell(:game_list, :show, :last_updated_at => [Game.last_updated_at, Team.last_updated_at].max )