.row
  .span5
    = render :partial => 'welcome_infos', :locals => {:today_games => @today_games}
  .span4
    .alert.alert-info
      = render :partial => 'login_form_or_user_infos'

.row
  .span9
    - if before_tournament?
      = render :partial => 'countdown'

    %h3=I18n.t('games_of', :tournament_name => TOURNAMENT_NAME)

    = render_cell(:game_list, :show, :last_updated_at => [Game.last_updated_at, Team.last_updated_at].max )