.bundle
.idea
.ruby-gemset
*.swp
*.swo
.DS_Store

/config/dblogin.yml
/coverage
/log/
/tmp
/public/uploads
/public/system
/public/assets
/spec/examples.txt
/config/initializers/rubymine_passenger_debug.rb
passenger.3000.pid.lock
.env

/node_modules
/yarn-error.log
.rake_tasks~
