- cache('hall_of_fame_caching') do


  - champions = [{name: '???',                          description: 'Sieger WM 2022 Tippspiel', :img => 'pokalsieger.jpg'},
                 {name: 'Jens Witschurke',              description: 'Sieger EM 2020 Tippspiel', :img => 'em2020sieger.jpg'},
                 {name: 'Christian Herbst',             description: 'Sieger WM 2018 Tippspiel', :img => 'wm2018sieger.jpg'},
                 {name: 'Sebastian Nestler',            description: 'Sieger EM 2016 Tippspiel', :img => 'em2016sieger.jpg'},
                 {name: 'Uwe Scheithauer',              description: 'Sieger WM 2014 Tippspiel', :img => 'wm2014sieger.jpg'},
                 {name: 'Christian Kurth',              description: 'Sieger EM 2012 Tippspiel', :img => 'em2012sieger.jpg'},
                 {name: 'Markus Gödke',                 description: 'Sieger WM 2010 Tippspiel', :img => 'wm2010sieger.jpg' },
                 {name: 'Jens Bruch',                   description: 'Sieger EM 2008 Tippspiel', :img => 'em2008sieger.gif'},
                 {name: 'Enrico Schwarz',               description: 'Sieger WM 2006 Tippspiel', :img => 'wm2006sieger.jpg'},
                 {name: 'Chris Zenker',                 description: 'Sieger EM 2004 Tippspiel', :img => 'em2004sieger.jpg'},
                 {name: 'Ina Foedisch und Ricardo Mai', description: 'Sieger WM 2002 Tippspiel', :img => 'pokalsieger.jpg'}]

  .row
    .small-12.columns
      %h3= t('hall_of_fame')

      %p
        Seit 2002 findet zu den Europa- und Weltmeisterschaften dieses kleine Tippspiel statt.
        Auch Du kannst in die Geschichte eingehen und einen Platz in der Hall of Fame erringen!

  #hall-of-fame.row
    %ul
      - champions.each do |champ|
        .small-12.medium-6.large-4.columns.end
          %li
            %figure
              = image_tag(champ[:img], alt: champ[:name], class: 'thumbnail')
              %figcaption
                %h5= champ[:name]
                %span.label= champ[:description]

