-# FIXME soeren 08.04.15 72 besser machen
%h5.hide-for-small-only
  = link_to(icon('arrows-h', t('compare_tips'), class: 'blue-primary-color'), compare_tips_path)
%h5.show-for-small-only
  = link_to(icon('arrows-h', t('compare_tips'), class: 'blue-primary-color'), compare_tips_path({:for_phone => true}))
%h5
  = link_to(icon('trophy', t('hall_of_fame'), class: 'blue-primary-color'), hall_of_fame_path)
%hr
