%h3= t("hall_of_fame")

%p
  Seit 2002 findet zu den Europa- und Weltmeisterschaften dieses kleine Tippspiel statt.
  Auch Du kannst in die Geschichte eingehen und eine Platz in der Hall of Fame erringen!

- champions = [{:name => "???", :description => "Sieger des EM 2012 Tippspiels", :img => "pokalsieger.jpg"},
               {:name => "Markus Gödke", :description => "Sieger des WM 2010 Tippspiels", :img => "wm2010sieger.jpg" },
               {:name => "Jens Bruch", :description => "Sieger des EM 2008 Tippspiels", :img => "em2008sieger.gif"},
               {:name => "Enrico Schwarz", :description => "Sieger des WM 2006 Tippspiels", :img => "wm2006sieger.jpg"},
               {:name => "Chris Zenker", :description => "Sieger des EM 2004 Tippspiels", :img => "em2004sieger.jpg"},
               {:name => "Ina Foedisch und Ricardo Mai", :description => "Sieger des WM 2002 Tippspiels", :img => "pokalsieger.jpg"}]

%ul.thumbnails
  - champions.each do |champ|
    %li.span3
      .thumbnail
        = image_tag(champ[:img], :alt=>champ[:name])
        .caption
          %h5
            = champ[:name]
          %p
            = champ[:description]

