- if @notes.present?
  %h4.wrap_text= I18n.t('notice')
  = link_to(t('write_notice'), notes_path, class: 'button small')
  %br
  - @notes.each do |n|
    %span.notice_user= n.user.name if n.user.present?
    %p.wrap_text= html_escape(n.text)
  %hr