/* ...
*= require flags16
*= require flags32
*= require_self
*/

@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'foundation_and_overrides';

// enabling flexbox http://foundation.zurb.com/sites/docs/flexbox.html

// import app styles
@import '_underline';
@import 'general';
@import 'game_tips_tables';
@import 'hall_of_fame';
@import 'flash';
@import 'hero_image';
@import 'mixitup';
@import 'nav';
@import 'points';
@import 'ranking';
