/* ...
*= require flags16
*= require_self
*/

@import "font-awesome-sprockets";
@import "font-awesome";

@import 'foundation_and_overrides';
@import 'foundation';



body {

}

#main-content {
  padding-bottom: 2rem;
}

h1 {
  font-size: 2rem;
}

h2,
h3 {
  border-bottom: solid 1px $primary-color;
}
h3 {
  margin-bottom: 12px;
}

table {
  width: 100%;
  border-spacing: 0;

  td {
    border-top: 1px solid $gainsboro;
  }
}

table thead tr th.round_name {
  font-size: 14px;
  padding-top: 10px;
  color: $primary-color;
}

table thead tr.without_border_top th,
table thead tr.without_border_top td {
  border-top: 0;
  background-color: $white;
}

input.tipp_input {
  width: 18px;
  margin-bottom: 0px;
  height: 13px;
  line-height: 13px;
}

.tipp_input_td {
  white-space: nowrap;
}

.sidebar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid $iron;
  background-color: $snow;
  -webkit-box-shadow: 2x 2px 8px rgba(0,0,0,0.27);
  -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.27);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.27)
}

a.brand {
  color: $white;
  font-weight: normal;
}

.rss_date,
.notice_user {
  font-style: italic;
  font-size: 10px;
}

.wrap_text {
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */
}

/* ##### Start Countdown ### */

#counter_desktop {
  opacity: 0.8;
  height: 77px;
}
#counter_desc_desktop {
  color: #ddd;
}

.cntSeparator {
  font-size: 54px;
  margin: 25px 7px;
  color: rgba(4,156,219,.8);
}

/* ##### End Countdown ### */


/* ##### Start Hero Image on Main Page ##### */
#hero-div {
  width: 100%;
  position: relative;
  float: left;
  padding-bottom: 2rem;
}

.hero {
  background: url(image_path('hero-image-green-gras.jpg')) no-repeat top center;
  background-size: cover;
  height: 100%;

  .space-medium-up {
    display: block;
    height: 7rem;
  }
  .space-small {
    display: block;
    height: 2rem;
  }

  h2 {
    border-bottom: solid 0px $primary-color;
    color: $white;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
  }
  p {
    color: $white;
    line-height: 1.5em;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1rem;
  }
  p,
  label,
  a {
    color: $white;
  }
  a:hover {
    text-decoration: underline;
  }

  .pokal-img {
    background: url(image_path('pokalsieger.jpg')) no-repeat center center;
    background-size: cover;
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  @media only screen and (min-width: 40.063em) {
    .pokal-img {
      height: 20rem;
      width: 20rem;
    }
    h2 {
      text-align: right;
      font-size: 2.1rem;
    }
    p {
      text-align: right;
    }
  }
}
/* ##### End Hero Image on Main Page ##### */


/* ##### Start Scroll to top ##### */
.scroll-to-top {
  width: 37px;
  height: 18px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  text-indent: -9999px;
  background: url(image_path('scroll-to-top.png')) no-repeat;
  background-color: transparent;
}
/* ##### End Scroll to top ##### */

/* ##### Start Overlax Tipp Save Button, wenn sich ein Tipp geaendert hat ####*/
#js_overlay_tip_save {
  background-color: whitesmoke; //rgba(130, 130, 130, 0.5);
  border: 1px solid #e3e3e3;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 0;
  font-weight: bold;
  text-align: center;
  color: #000;
  z-index: 4;
  opacity: 0.9;

  .button {
    margin: 0;
  }
}

#js_overlay_tip_save span {
  display: block;
  background-color: #ffa;
  margin: 0 12px;
  padding: .5em 0;
  border: 0px solid #8a8d7f;
}

/* ##### End Overlax Tipp Save Button, wenn sich ein Tipp geaendert hat ####*/


/*### Start Alert Messages als PopUp ###*/
// wird per JS repositionOfFlashMessages neu positioniert und angezeigt
.alert-box {
  position: fixed;
  //right: 20px;
  top: 80px;
  width: 300px;
  z-index: 200;
  display: none;
  border-width: 3px;
  //center
  margin: auto;
  left: 0;
  right: 0;
}
.alert-box ul {
  margin-bottom: 0px;
}
/*### End Alert Messages als PopUp ###*/


/* # FIXME soeren 08.04.15 was brauche ich noch #92
####################################################
*/
.popover h3 {
  margin-bottom: 0px;
}

.popover-inner {
  background: $primary-color; // has to be full background declaration for IE fallback
  background: rgba(4,156,219,.8);
}
