
body {
  min-width: 768px;
  margin: 0;
  /*background: url("/images/bg.png") repeat-x scroll top left #fff;*/
  color: #707173;
  font-size: 70%; /* Resets 1em to 10px */
  font-family: Verdana, Arial, Sans-Serif;
  text-align: left;
  line-height: 18px;
}

h1, h1 a, h2, h2 a, h3, h4, h5, h6 {
  margin-bottom: 10px;
  color: #97bf0d;
  text-align: left;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
}

img {
  border: 0;
}

code {
  font-size: 12px;
  background-color: #f8f8f8;
  color: #707173;
}

/* (de) Klassen für unsichtbare Elemente im Basislayout */
.skip, .hideme, .print {
  position: absolute;
  top: -1000em;
  left: -1000em;
  height: 1px;
  width: 1px;
}

hr {
  background-color: #97bf0d;
  border: 0;
  clear: both;
  height: 1px;
  margin-bottom: 18px;
}

/* Text elements */
p {
  margin-bottom: 18px;
}

ul {
  list-style: square;
  margin: 0 0 18px 1.5em;
}

ol {
  list-style: decimal;
  margin: 0 0 18px 1.5em;
}

ol ol {
  list-style: upper-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: lower-alpha;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}

dl {
  margin: 0 0 24px 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 18px;
}

strong {
  font-weight: bold;
}

cite,
em,
i {
  font-style: italic;
}

big {
  font-size: 131.25%;
}

ins {
  background: #ffc;
  text-decoration: none;
}

blockquote {
  font-style: italic;
  padding: 0 3em;
}

blockquote cite,
blockquote em,
blockquote i {
  font-style: normal;
}

pre {
  background: #f7f7f7;
  color: #222;
  line-height: 18px;
  margin-bottom: 18px;
  padding: 1.5em;
}

abbr,
acronym {
  border-bottom: 1px dotted #707173;
  cursor: help;
}

sup,
sub {
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

input[type="text"],
textarea {
  background: #f9f9f9;
  border: 1px solid #707173;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 2px;
}

a:link,
a:visited {
  color: #97bf0d;
  text-decoration: none;
}

a:active,
a:hover {
  color: #f706d0;
  text-decoration: underline;
}

/* CONTENT, SIDEBAR */
#wrapper {
  margin: 0 auto;
  clear: both;
  overflow: hidden;
  padding: 20px 0 0;
  width: 958px;
}

section#content {
  float: left;
  width: 75%; /*margin:0 -240px 0 0;*/
}

section#sidebar {
/* float:right;*/
/* overflow: hidden;*/
/* width: 190px;*/
  margin: 0 0 0 75%;
  width: auto;
  padding: 0 0 20px 20px;;
}

/* Header */

header {
  margin: 0 auto;
  padding: 0;
  width: 958px;
  height: 96px;
}

header h1#logo a {
  height:55px;
  width:105px;
  margin: 0;
  padding: 0;
  position: absolute;
  display: block;
  text-indent: -9999px;
  z-index:2;
}

#header-slogan {
  position: absolute;
  padding: 40px 0 0 110px;
  font-size: 12px;
  font-weight: bold;
}

/* Top navigation */
nav {
  height: 3.3em;
  margin: 0px;
  padding: 0px;
  float: right;
  display: block;
}

nav .menu ul {
  float: right;
  padding: 15px 0 0 0;
  list-style: none;
}


nav .menu ul li {
  float: left;
  margin: 0;
  /*text-transform: uppercase;*/
  padding: 0 0 0 3em;
}


#global-nav {
  height: 2.0em;
  margin: 0px;
  padding: 0px;
  display: block;
  overflow: hidden;
}

#global-nav  ul {
  float:right;
  padding: 0;
  list-style: none;
}

#global-nav ul li {
  float: left;
  margin: 0;
  /*text-transform: uppercase;*/
  padding: 0 0 0 2em;
}

nav .menu a{
  font-size: 20px;
  color: #707173;
  font-weight: normal;
}

#global-nav a{
  font-size: 12px;
  color: #707173;
  font-weight: normal;
}

nav .menu a:hover,
nav .menu a:active,
#global-nav a:hover,
#global-nav a:active {
  color: #f706d0;
  text-decoration: none;
}

nav .menu ul li.current_page_item a {
   color: #97bf0d;
}

/* main-page-banner wird auf der Homeseite im Wordpress angezeigt */
#main-page-banner {
 margin: 30px auto 0;
 width: 958px;
}

/* footer */

footer {
  margin: 10px auto;
  width: 958px;
  clear: both;
  padding: 10px;
  border-top: 1px solid #97bf0d;
  border-bottom: 1px solid #97bf0d;
}

#footer-widget-area {
 overflow: hidden;
}
#footer-widget-area .widget-area {
 float: left;
 margin-right: 20px;
 width: 220px;
}
#footer-widget-area #fourth {
 margin-right: 0;
}

/* Sidebar */

#sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.1em;
}

#sidebar ul ul {
  font-size: 1em;
}

#sidebar ul li {
  margin: 0 0 2em 0;
}

#sidebar ul ul {
  margin: 0;
  padding: 0;
}

#sidebar li li {
  margin: 0.1em 0;
}

#sidebar li li li {
  padding-left: 10px;
}

#sidebar ul h2 {
  margin: 0;
  padding: 0;
  color: #4588c4;
  font-size: 1.2em;
  text-transform: uppercase;
}

.alert {
  background-color: #FFF6BF;
  background-position: 15px 50%;
  border-bottom: 2px solid #FFD324;
  border-top: 2px solid #FFD324;
  font-weight: bold;
  padding: 5px 20px 5px 45px;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 100;
}

.flashnotice, .flasherror {
  font-weight: bold;
  display: block;
  padding: 5px 5px 5px 0;
  margin-bottom: 10px;
}

.flashnotice {
  color: green;
}

.flasherror {
  color: red;
}