// wird per JS repositionOfFlashMessages neu positioniert und angezeigt
.alert-box {
  position: fixed;
  //right: 20px;
  top: 80px;
  //width: 300px;
  z-index: 2;
  display: none;
  border-width: 3px;
  -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 10px 30px 10px 30px;
  //center
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;

  // for error_messages_helper
  ul {
    margin-bottom: 0;
    list-style-type: none;
  }
}

.success {
  background-color: #57BF57;
  color: white;
}

.alert {
  background-color: #E1715B;
  color: white;
}
