#hall-of-fame {
  ul {
    margin: 0;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      //width: 440px;
      margin: 0;
      padding: 10px;
      text-align: center;
      position: relative;

      figure {
        margin: 0;
        position: relative;

        img,
        img.thumbnail {
          width: 290px !important;
          height: 290px !important;
          min-width: 290px;
          min-height: 290px;
          max-width: 290px !important;
          max-height: 290px !important;
          object-fit: cover;
          display: block;
          position: relative;
          margin: 0 auto;
        }

        figcaption {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 10px;
          background-color: rgba(255,255,255,0.5);
          color: #ed4e6e;

          h5 {
            margin: 0;
            padding: 0;
          }
        }
      }

      figure:hover {
        figcaption {
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
}
