#hero-div {
  width: 100%;
  position: relative;
  float: left;
  padding-bottom: 2rem;
}

.hero {
  background: url(image_path('hero-image-football.jpg')) no-repeat top center;
  background-size: cover;
  height: 100%;

  .space-medium {
    display: block;
    height: 3rem;
  }
  .space-small {
    display: block;
    height: 1rem;
  }

  .callout {
    background-color: rgba(255,255,255,0.8);
    border: 0;
  }

  h2 {
    border-bottom: solid 0 $primary-color;
    //color: $white;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
   // text-align: center;
  }
  p {
    line-height: 1.5em;
    font-weight: 100;
   // text-align: center;
    margin-bottom: 1rem;
  }
  p,
  label,
  a {
    //color: $white;
  }
  a:hover {
    text-decoration: underline;
  }

  .pokal-img, .pokal-img-small {
    background: url(image_path('pokalsieger.jpg')) no-repeat center center;
  }

  .pokal-img, .pokal-img-small {
    background-size: cover;
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  // Only affects medium screens and larger
  @include breakpoint(medium) {
    .pokal-img {
      height: 20rem;
      width: 20rem;
    }

    .pokal-img-small {
      height: 14rem;
      width: 14rem;
    }

    h2 {
     // text-align: right;
      font-size: 2.1rem;
    }
    p {
      //text-align: right;
    }
  }
}