/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here
  iPhone / iPod Touch
  */
}

@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
/* iPhone mit Retina Display */
}

@media only screen and (max-width: 1024px) {
  /* webbrowser kleiner 1024px Viewport
  /* Style adjustments for viewports 1024px and under go here */
  #container {
    width: 100%;
    min-width: 1024px;
    max-width: 1024px;
  }
  #content { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
}

@media only screen and (max-width: 1400px) {
  /* webbrowser >= 1400px Viewport */
  #container {
    width: 100%;
    min-width: 1024px;
    max-width: 1400px;
  }
  #content { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {
/* IPad landscape */
  #container {
    min-width: 768px;
    max-width: 1024px;
    margin: 0 auto;
  }

}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
  /* IPad  portrait */
  #container {
    min-width: 480px;
    max-width: 768px;
    margin: 0 auto;
  }

}


