.menu li {
  hr {
    padding: 0;
    margin: 5px;
  }

}
.menu-text {
  padding-left: 0;
}

.menu > li > a img,
a.brand img {
  vertical-align: text-top;
}

.top-bar {
  padding-left: 0;
}

// Only affects medium screens and larger
@include breakpoint(medium) {
  .title-bar {
    display: none;
  }
}
@include breakpoint(small only) {
  nav {
    display: none;
  }
}
