.menu > li {
  a.brand {
    padding-left: 0;
    font-weight: bold;
  }

  a.ranking-info {
    padding-left: 0;
    color: $dark-gray;
  }
}

.menu > li > a img {
  vertical-align: text-top;
}

.top-bar {
  padding-left: 0;

  a:hover {
    color: darken($primary-color, 10%);
  }
}

// on small
//   show only icons
//   and ranking-info smaller
@include breakpoint(small only) {
  nav {
    li {
      a {
        span {
          display: none;
        }
      }
    }
  }

  .menu > li {
    a.ranking-info {
      padding: 0 0;
      font-size: 0.9em;
    }
  }
}
