#js_overlay_tip_save {
  background-color: rgba(255,255,255,0.8);
  border: 1px solid #e3e3e3;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: #000;
  z-index: 4;

  .button {
    margin: 0;
  }
}

#js_overlay_tip_save span {
  display: block;
  padding: .2em 0;
  border: 0 solid $light-gray;
}
