
.null-point-color {
  color: $null-point-color;
}
.null-point-background-color {
  background-color: $null-point-color;
}

.three-point-color {
  color: $three-point-color;
}
.three-point-background-color {
  background-color: $three-point-color;
}

.four-point-color {
  color: $four-point-color;
}
.four-point-background-color {
  background-color: $four-point-color;
}

.five-point-color {
  color: $five-point-color;
}
.five-point-background-color {
  background-color: $five-point-color;
}

.eight-point-color {
  color: $eight-point-color;
}
.eight-point-background-color {
  background-color: $eight-point-color;
}

.point-explaning
{
  padding-right: 10px;
}


.large-point-badge {
  font-size: 1.0em;
}