
.null-point-color {
  color: $secondary-color;
}
.null-point-background-color {
  background-color: $secondary-color;
}

.three-point-color {
  color: $alert-color;
}
.three-point-background-color {
  background-color: $alert-color;
}

.four-point-color {
  color: $warning-color;
}
.four-point-background-color {
  background-color: $warning-color;
}

.five-point-color {
  color: $primary-color;
}
.five-point-background-color {
  background-color: $primary-color;
}

.eight-point-color {
  color: $success-color;
}
.eight-point-background-color {
  background-color: $success-color;
}

.point-explaning
{
  padding-right: 10px;
}


.large-point-badge {
  font-size: 1.0em;
}