%p
  Hallo #{@resource.firstname}, Sport frei!
%p
  Bestätige bitte mit folgendem Link deine Teilnahme beim #{I18n.t(:tournament_name)} #{I18n.t(:app_name)} auf soemo.org:
%p= link_to 'Teilnahme bestätigen', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
%p
  Viel Spaß und Erfolg!
  %br
  Sören



