-# -*- encoding : utf-8 -*-
%p
  Hallo #{@resource.firstname}
%p
  Mit dem unten angegeben Link kannst du dein Passwort zurücksetzen.
%p= link_to 'Passwort zurücksetzen', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p
  Wenn du diese Anfrage nicht gestellt hast, ignoriere einfach diese Mail.
%p
  Solange du den Link nicht benutzt, wird dein Passwort nicht geändert.


